name: publish
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: Build and Release
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Verify Version
      if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
      shell: pwsh
      run: |
        Write-Error "Not a tag trigger or invalid tag format"
        exit 1

    - name: Extract Version
      id: meta
      shell: pwsh
      run: |
        $tag = "${{ github.ref_name }}"
        $version = $tag.TrimStart('v')
        echo "version=$version" >> $env:GITHUB_OUTPUT
        if ($version.Contains('-')) {
          echo "prerelease=true" >> $env:GITHUB_OUTPUT
        } else {
          echo "prerelease=false" >> $env:GITHUB_OUTPUT
        }

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x

    - name: Build
      run: dotnet build Coosu.sln --configuration Release

    - name: Pack
      shell: pwsh
      run: |
        $version = "${{ steps.meta.outputs.version }}"
        $projects = @(
            "Coosu.Database",
            "Coosu.Shared",
            "Coosu.Storyboard",
            "Coosu.Storyboard.Extensions",
            "Coosu.Storyboard.OsbX",
            "Coosu.Beatmap",
            "Coosu.Api"
        )
        foreach ($proj in $projects) {
            dotnet pack $proj --no-build --configuration Release --output ci-pack /p:Version=$version
        }

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        name: v${{ steps.meta.outputs.version }}
        files: ci-pack/*.nupkg
        prerelease: ${{ steps.meta.outputs.prerelease }}
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Push Nuget Package
      shell: pwsh
      run: |
        Get-ChildItem -Path ci-pack/*.nupkg | ForEach-Object {
          dotnet nuget push $_.FullName --api-key ${{ secrets.NUGET_API_KEY }} --source "https://api.nuget.org/v3/index.json" --skip-duplicate
        }
